server {
	server_name webserv;
	listen 0.0.0.0:4242 ;

	root ./www/html;

	allow_methods GET;

	autoindex on;
	client_body_limit 256;

	error_page 404 405 ./www/html/error/error.html;
	error_page 500 ./www/html/error/error2.html;

	location /board {
		allow_methods GET;
		root ./www/html;
	}

	location /board/content {
		allow_methods GET POST DELETE;
		root ./www/html/contents;
	}
	
	location /cgi {
		allow_methods GET POST;
		cgi_info php php-fpm;
	}
}