server
{
    server_names       yassine hebbat
    listen              localhost:8088
    root             ./root
    allow_methods    GET

    upload_path        ./somewhere/

    index index.html

    error_page    404 /Volumes/SPYDERSY/webserv/root/errorsPages/404.html
    error_page    403 /Volumes/SPYDERSY/webserv/root/errorsPages/403.html
    error_page    409 /Volumes/SPYDERSY/webserv/root/errorsPages/403.html
    error_page    407 /Volumes/SPYDERSY/webserv/root/errorsPages/403.html

    autoindex on

    redirection    /doooooxsxvasvf /test/
    redirection    /PATH00/index.html /PATH01/index.html

    client_max_body_size 1234

    location /PATH00
    {
        client_max_body_size 1234
        root ./root/hangover-master/
        autoindex on
        index index.html index.php
        allow_methods POST GET DELETE
    }

    location /root
    {
        root ./root/
        autoindex on
        allow_methods POST GET
    }

    cgi .php
    {
        cgi_path     /Users/yhebbat/Desktop/webserv/cgi/php-cgi
    }

    location /PATH01/
    {
        root ./root/roxy/
        autoindex off
        index index.html
        allow_methods GET
    }

    location /PATH02
    {
        root ./root/the7/
        autoindex
        index index.html index.html sudo.php sudo.gcc
        allow_methods GET
    }

    location /PATH03
    {
        root ./root/univers/
        autoindex on
        client_max_body_size 1234
        allow_methods GET
    }
}